@charset "UTF-8";
/* variables et mixin */
/* variables couleurs */
/* variables fontes */
/* variables taille écran (basées sur les grilles bootstrap) */
/* variables icone */
/* mixin */
/* Classe */
/* line 9, ../sass/style.scss */
.titre {
  font-family: "Oswald", sans-serif;
  font-size: 6em;
  color: #657ed4;
  z-index: 10;
  cursor: pointer;
}
/* line 15, ../sass/style.scss */
.titre:hover {
  color: #eaf2ef;
}

/* line 20, ../sass/style.scss */
.message {
  z-index: 10;
  padding: 1em;
  font-size: 1.2em;
  text-align: center;
}

/* line 27, ../sass/style.scss */
.couleur {
  display: block;
  margin: 1rem;
  font-size: 2em;
}

/* line 33, ../sass/style.scss */
.coeur:before {
  content: "\1F63A";
  margin: .5rem;
  font-size: 1.3em;
}

/* line 39, ../sass/style.scss */
.carreau:before {
  content: "\1f649";
  margin: .5rem;
  font-size: 1.3em;
}

/* line 46, ../sass/style.scss */
.pique:before {
  content: "\1F355";
  margin: .5rem;
  font-size: 1.3em;
}

/* line 52, ../sass/style.scss */
.trefle:before {
  content: "\1F383";
  margin: .5rem;
  font-size: 1.3em;
}

/* line 59, ../sass/style.scss */
.btn {
  perspective: 800px;
  perspective-origin: center;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 5px;
  background: #000807;
  transform: translateY(-50%);
  transform-origin: center;
}
/* line 71, ../sass/style.scss */
.btn .cube {
  transform-style: preserve-3d;
  transition: all .2s ease-out;
  z-index: -10;
}
/* line 75, ../sass/style.scss */
.btn .cube div {
  padding: 2rem;
  background-color: #000807;
  color: #eaf2ef;
  border-radius: 5px;
  letter-spacing: .1em;
  font-size: 1em;
}
/* line 82, ../sass/style.scss */
.btn .cube div.dessus {
  transform-origin: top;
  transform: rotateX(90deg) translateZ(-5.1em);
  background-color: #eaf2ef;
  color: #657ed4;
}
/* line 90, ../sass/style.scss */
.btn .cube div.face {
  transform-origin: bottom;
  transform: translateZ(5em);
  box-shadow: 0 10px 80px #6b717e;
}
/* line 97, ../sass/style.scss */
.btn .cube:hover {
  transform: rotateX(-90deg) translateY(-5em);
}
/* line 103, ../sass/style.scss */
.btn:active {
  outline: none;
}

/* line 108, ../sass/style.scss */
.zone-joueurs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
/* line 112, ../sass/style.scss */
.zone-joueurs div {
  margin: 0.2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
/* line 116, ../sass/style.scss */
.zone-joueurs div div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

/* line 123, ../sass/style.scss */
.nom_joueur {
  font-family: "Oswald", sans-serif;
  border: none;
  background-color: #000807;
  color: #657ed4;
  text-align: center;
  font-size: 1.8em;
}

/* line 131, ../sass/style.scss */
.btn_joueur {
  background-color: #000807;
  color: #657ed4;
  width: 10rem;
  border: 1px solid #657ed4;
  margin: .25rem;
  padding: .5rem;
  border-radius: 5px;
}
/* line 139, ../sass/style.scss */
.btn_joueur:enabled {
  color: #eaf2ef;
  border: 1px solid #eaf2ef;
}
/* line 144, ../sass/style.scss */
.btn_joueur:enabled:hover {
  background-color: #eaf2ef;
  color: #000807;
}

/* line 155, ../sass/style.scss */
.carte {
  padding: 1em;
  margin: 1em 2px;
  width: 40px;
  height: 60px;
  font-family: "Oswald", sans-serif;
  border-radius: 5px;
  background-color: #eaf2ef;
  color: #000807;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* line 168, ../sass/style.scss */
.valeur-carte {
  font-size: 1.2em;
}

/* line 175, ../sass/style.scss */
.fenetre {
  position: absolute;
  z-index: 30;
  width: 80vw;
  height: 80vh;
  top: 10%;
  left: 10%;
  background-color: rgba(0, 8, 7, 0.9);
  color: #6b717e;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-size: 2em;
}

/* line 188, ../sass/style.scss */
.disparait {
  display: none;
}

/* général */
/* line 196, ../sass/style.scss */
body {
  font-family: "Raleway", sans-serif, sans-serif;
  background: #000807;
  color: #eaf2ef;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  overflow-y: scroll;
}

/* line 207, ../sass/style.scss */
header {
  max-height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* line 212, ../sass/style.scss */
main {
  height: 40%;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* line 219, ../sass/style.scss */
main section > div label {
  z-index: 5;
}
/* line 223, ../sass/style.scss */
main section > div .btn {
  margin: 3em;
}
